@charset "utf-8";
/* CSS layout */

/* 默认样式 */
/*html{overflow-y:scroll; overflow-x: hidden;}
body,div,ul,li,span,img,input,form{ margin:0; padding:0;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dd{ margin:0;}
ul,ol{padding:0;}*/

body{ font-size:12px;font-family:"冬青黑体简体中文","微软雅黑","宋体",Arial,sans-serif;}
body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, i, b, textarea, button, input, select  {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #313131;
    box-sizing: border-box;
    font-weight: lighter;
    font-family: 'Microsoft YaHei';
    -webkit-tap-highlight-color:transparent;
}
html{
    height: 100%;
    width: 100%;
}
a{ text-decoration:none; color:#666666; }
li{ list-style:none; }
img{ border:none 0;}
input{ outline:none; border:none; background:none;}
input,textarea,select{ margin:0; }
input,textarea{ padding:0;}
input::-ms-clear{display:none;}

/* 浮动公共样式 */
.left{ float:left; _display:inline; }
.right{ float:right; _display:inline; }
.clear:after{ display:block; content:''; clear:both;}
.clear{ zoom:1;}

